
.mainIndex{
  margin: 10px 0;
}

.sliderMedium, .sliderLarge{
  display: none;
}

.mainIndex h2{
  text-align: center;
  font-weight: bold;
}

@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
}

div#slider {
  margin: auto;
  width: auto;
  height: 320px;
  overflow: hidden;
}

div#slider figure img {
  width: 20%;
  float: left;
}

div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
}

.mainTeam{
  margin: 25px 0;
}

.teamM, .teamL{ /*on retire les format medium et large dans le format small*/
  display: none;
}

.teamS{
  text-align: center;
}

.teamS figure{
  margin-top: 50px;
}

.teamS .team{ /*photos de l'équipe*/
margin: 5 px 0;
}

#smartphone{
  width: 125px;
  height: 75px;
}

#canette{
  width: 75px;
  height: 125px;
}




/*===================================================================================

FOOTER for all pages

===================================================================================*/
footer{
  width: auto;
  height: 200px;
  background-color: black;
  padding: 15px;
  border-radius: 3px;;
}

.highPage{ /*ramène vers le haut de la page*/
  display: block;
  width: 36px;
  height: 36px;
  margin:15px auto;
}

footer ul li a{
  width: 36px;
  height: 36px;
  border-radius: 3px;
  display: inline-block;
}

footer ul{
  height: 80px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding:0 25px;
}

footer ul li{
  align-self: center;
}

footer img{
  width: 36px;
  height: 36px;
}

footer p{
  font-size: 13px;
  height: 30px;
  margin-top: 0;
  display: flex;
  justify-content: center;
  color: white;
}

@media (min-width:768px) {

  /*Concerne la page Home
  ===================================================================*/

  .sliderSmall{
    display: none;
  }

  .sliderMedium{
    display: block;
  }

  div#slider{
  height: 500px
  }

/*
Concerne la page équipe
=====================================================================*/


.mainTeam .teamS figure{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
}

.team_g{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  content: url("../img/medium/guillaume_m.jpg")

}

.team_g::after{
  content: url("../img/medium/guillaume_m.jpg")
}
.team_s{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  content: url("../img/medium/sylvain_m.jpg")

}

.team_s::after{
  content: url("../img/medium/sylvain_m.jpg")
}

#smartphone{
  align-self: flex-end;
  width: 30%;
  height: 200px;
  content: url("../img/medium/iphone_m.png")
}

.=#smartphone:after{
  content:url("../img/medium/iphone_m.png")
}

#canette{
  align-self: flex-end;
  width: 20%;
  height: 200px;
  content: url("../img/medium/canette_m.jpg")
}

#canette:after{
  content:url("../img/medium/canette_m.jpg")
}

}


@media (min-width:1024px) {

/*Concerne la page Home
=====================================================================*/

  .sliderMedium{
    display: none;
  }

  .sliderLarge{
    display: block;
  }

  div#slider{
    height: 700px;
  }

  /*Concerne la page équipe
  ===================================================================*/

  .team_g{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    content: url("../img/large/guillaume_l.jpg")

  }

  .team_g::after{
    content: url("../img/large/guillaume_l.jpg")
  }
  .team_s{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    content: url("../img/large/sylvain_l.jpg")

  }

  .team_s::after{
    content: url("../img/large/sylvain_l.jpg")
  }

  #smartphone{
    width: 30%;
    height: 300px;
    align-self: flex-end;
    content: url("../img/large/iphone_l.png")
  }

  #smartphone:after{
    content:url("../img/large/iphone_l.png")
  }

  #canette{
    width: 20%;
    height: 300px;
    align-self: flex-end;
    content: url("../img/large/canette_l.jpg")
  }

  #canette:after{
    content:url("../img/large/canette_l.jpg")
  }

  .figcaption{
    align-self: center;

  }

}
