.mainIndex{
  margin: 10px 0;
}

.sliderMedium, .sliderLarge{
  display: none;
}

.mainIndex h2{
  text-align: center;
  font-weight: bold;
}

@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
}

div#slider {
  margin: auto;
  width: auto;
  height: 320px;
  overflow: hidden;
}

div#slider figure img {
  width: 20%;
  float: left;
}

div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
}




/*===================================================================================

FOOTER for all pages

===================================================================================*/
footer{
  width: auto;
  height: 200px;
  background-color: black;
  padding: 15px;
  border-radius: 3px;;
}

.highPage{
  display: block;
  width: 36px;
  height: 36px;
  margin:15px auto;
}

footer ul li a{
  width: 36px;
  height: 36px;
  border-radius: 3px;
  display: inline-block;
}

footer ul{
  height: 80px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding:0 25px;
}

footer ul li{
  align-self: center;
}

footer img{
  width: 36px;
  height: 36px;
}

footer p{
  height: 30px;
  margin-top: 0;
  display: flex;
  justify-content: center;
  color: white;
}

@media (min-width:768px) {
  .sliderSmall{
    display: none;
  }

  .sliderMedium{
    display: block;
  }

  div#slider{
    height: 500px
  }

}





@media (min-width:1024px) {

  .sliderMedium{
    display: none;
  }

  .sliderLarge{
    display: block;
  }

  div#slider{
    height: 700px;
  }

}
