
.mainIndex{
  margin: 10px 0;
}

.sliderMedium, .sliderLarge{
  display: none;
}

.mainIndex h2{
  text-align: center;
  font-weight: bold;
}

@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
}

div#slider {
  margin: auto;
  width: auto;
  height: 320px;
  overflow: hidden;
}

div#slider figure img {
  width: 20%;
  float: left;
}

div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
}

.mainTeam{
  margin: 25px 0;
}

.teamM, .teamL{ /*on retire les format medium et large dans le format small*/
  display: none;
}

.teamS{
  text-align: center;
}

.teamS figure{
  display: block;
  margin-top: 50px;
}

.teamS .team{ /*photos de l'équipe*/
margin: 5 px 0;
}

.teamS .smartphone{
  width: 125px;
  height: 75px;
}

.teamS .canette{
  width: 75px;
  height: 125px;
}




/*===================================================================================

FOOTER for all pages

===================================================================================*/
footer{
  width: auto;
  height: 200px;
  background-color: black;
  padding: 15px;
  border-radius: 3px;;
}

.highPage{ /*ramène vers le haut de la page*/
  display: block;
  width: 36px;
  height: 36px;
  margin:15px auto;
}

footer ul li a{
  width: 36px;
  height: 36px;
  border-radius: 3px;
  display: inline-block;
}

footer ul{
  height: 80px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding:0 25px;
}

footer ul li{
  align-self: center;
}

footer img{
  width: 36px;
  height: 36px;
}

footer p{
  font-size: 13px;
  height: 30px;
  margin-top: 0;
  display: flex;
  justify-content: center;
  color: white;
}

@media (min-width:768px) {

  /*Concerne la page Home
  ===================================================================*/

  .sliderSmall{
    display: none;
  }

  .sliderMedium{
    display: block;
  }

  div#slider{
  height: 500px
  }

/*
Concerne la page équipe
=====================================================================*/

.teamS{
  display: none;
}

.teamM{
  width: auto;
  display: flex;
}

.teamM figure{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.teamM .team{/*photo de l'équipe*/
  width: 150px;
  height: 200px;
}

.teamM .smartphone{
  width: 150px;
  height: 175px;
  }

  .teamM .canette{
    width: 150px;
    height: 200px;
  }

}





@media (min-width:1024px) {

/*Concerne la page Home
=====================================================================*/

  .sliderMedium{
    display: none;
  }

  .sliderLarge{
    display: block;
  }

  div#slider{
    height: 700px;
  }

  /*Concerne la page équipe
  ===================================================================*/

  .teamM{
    display: none;
  }

  .teamL{
    width: auto;
    display: flex;
  }

  .teamL figure{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
  }

  .teamL .team{/*photo de l'équipe*/
    width: 215px;
    height: 275px;
  }

  .teamL .smartphone{
    width: 215px;
    height: 195px;
    }

    .teamL .canette{
      width: 175px;
      height: 250px;
    }

}
